* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
html {
  max-width: 1440px;
  margin: auto;
}
body {
  max-width: 1240px;
  margin: 0 100px 0;
}
.title {
  width: 268px;
  height: 93px;
  margin: 42px auto 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 50.48px;
  height: 46.29px;
}

.logo img {
  width: 100%;
  height: 100%;
}
.title p {
  flex-grow: 1;
  width: 268px;
  color: #d04f4f;
  line-height: 46.87px;
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
}
.search-bar {
  display: flex;
  background-color: #e7e7e7;
  border-radius: 5px;
  margin-bottom: 20px;
}
.search-bar img {
  width: 32px;
  height: 32px;
  margin: 17.5px 16.4px 19.4px;
}
.search-field {
  width: 100%;
  height: 69px;
  background-color: #e7e7e7;
  border-radius: 5px;
  border: none;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  letter-spacing: 0em;
  padding-left: 1.77%;
  right: 60%;
  top: 33.33%;
  bottom: 34.78%;
}

.search-field::placeholder {
  height: 22px;
  width: 474px;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  letter-spacing: 0em;
  color: #000000;
  opacity: 0.25;
}
.search-field:focus {
  outline: none;
}
.tags {
  display: flex;
  margin-top: 5px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.tags-item {
  display: flex;
  height: 37px;
  border-radius: 5px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
}
.tags-item img {
  width: 20px;
  height: 20px;
  margin-left: 13px;
  margin-right: 22px;
}

.tags-item p {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-left: 20px;
}

.filter {
  display: flex;
}
.filter-title {
  display: flex;
  margin: 23px 20px 0 20px;
  justify-content: space-between;
}

.filter-title-input {
  width: 100%;
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.filter-title-input::placeholder {
  color: #ffffff;
  /* opacity: 0.5; */
}
.filter-title-input:focus {
  outline: none;
}

.color-ingredients {
  background-color: #3282f7;
}

.color-appliance {
  background-color: #68d9a4;
}

.color-ustensils {
  background-color: #ed6454;
}

.filter-box-min {
  width: 170px;
  height: 69px;
  border-radius: 5px;
  margin-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-box-med {
  width: 223px;
  height: auto;
  border-radius: 5px;
  margin-right: 20px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-box-med img,
.filter-box-larg img {
  transform: rotate(180deg);
}

.filter-box-larg {
  z-index: 2;
  border-radius: 5px;
  width: 667px;
  height: 397px;
  margin-right: 20px;
  /* white-space: wrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.arrow:hover {
  cursor: pointer;
}
.advList {
  height: 310px;
  margin-top: 23px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  column-count: 3;
  column-fill: auto;
}

.advList p {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.7em;
  color: #ffffff;
  list-style-type: none;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  
}

.itemTag:hover {
  cursor: pointer;
}

.recipes-list {
  z-index: 1;
  margin-top: 25px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-left: -25px;
  margin-right: -25px;
}

.recipe {
  width: 380px;
  height: 364px;
  margin-bottom: 50px;
  margin-left: 25px;
  margin-right: 25px;
}

.recipe:hover {
  cursor: pointer;
}

.recipe-img {
  height: 178px;
  background: #c7bebe;
  border-radius: 5px 5px 0 0;
}

.recipe-description {
  height: 186px;
  background-color: #e7e7e7;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
}

.recipe-description1 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.recipe-description1-title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  width: 210px;
}

.recipe-description1-title p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.recipe-description1-time {
  display: flex;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.recipe-description1-time img {
  width: 20px;
  height: 20px;
}
.recipe-description1-time p {
  margin-left: 7px;
}

.recipe-description2 {
  display: flex;
  padding: 0 20px 19px 20px;
}

.recipe-description2-ingred {
  flex-basis: 50%;
}

.recipe-description2-instruct {
  flex-basis: 50%;
  height: 109px;
  font-family: Roboto;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.recipe-description2-instruct p {
  overflow: hidden;
  text-overflow: ellipsis;
}
